/* src/App.css */
@import 'mapbox-gl/dist/mapbox-gl.css';

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Floating Logo Styling */
.logo {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, sans-serif;
  font-size: 24px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  z-index: 10;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

/* Floating Action Button (FAB) */
.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #8a2be2;
  border: none;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

/* Modal Overlay and Content Styling */
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  outline: none;
  z-index: 11;
}

/* File Input Button Styling */
.file-input-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: #3a3a3a;
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.file-input-button:hover {
  background-color: #575757;
}

input[type="file"] {
  display: none; /* Hide the default file input */
}

/* Post and Cancel Button Styling */
.post-button, .cancel-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  border: none;
  transition: background-color 0.3s;
}

.post-button {
  background-color: #8a2be2;
  color: white;
}

.cancel-button {
  background-color: #3a3a3a;
  color: white;
}

.post-button:hover {
  background-color: #7a26d2;
}

.cancel-button:hover {
  background-color: #575757;
}

/* Text Area Styling */
textarea {
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  resize: vertical;
}
